body {
  text-align: center;
}

.allTodosCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgba(236, 140, 194, 0.5);
  align-items: center;
}

.addTodo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.addTodo:hover {
  background-color: beige;
  cursor: pointer;
  border-radius: 5px;
}

.addTodo h1 {
  color: red;
  font-size: 500%;
}
